<h1>Leetspeak</h1>

<p>Enter a number below so we can convert some letters into a number:</p>

<form action='/results' method='get'>
  <div class="form-group">
    <label for="userWord">Enter Word</label>
    <input id="useWord" name="userWord" class="form-control" type="text">
  </div>

  <button type="submit" class="btn btn-info">Submit</button>
</form>
